/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
     margin-top: 70px;
 }
 .lForm{
  font-size: 20px;
  margin-top:  20px;
 }
 .lForm .field{
  padding-top: 25px;
 }
 .owl{
  width: 50px;
 }
.small {
    font-size: 14px;
    font-style: italic;
}
#search{
    margin-top: 12px;
    margin-left: 20px;
    width: 450px;
    height: 30px;
}
.mowl {
    margin-left: 5px !important;
}
.starHolder{
    width: 120px !important;
    text-align: center;
    color: orange;
}