// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin{
    margin-top: 20px;
    text-align: center;
}
.mform{
    font-size: 20px;
}
.movieForm{
    border: 1px solid;
    padding: 30px;
    text-align: left;
}
.mbtn{
    text-align: center !important;
}